@media only screen and (min-width: 900px) {
  .dock {
    width: 100%;
    position: absolute;
    bottom: 12px;
    .dock-container {
      width: auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 6px 8px 2px;
      height: 64px;
      cursor: pointer;
      .dock-c {
        display: flex;
        gap: 10px;
        background: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(48px);
        border-radius: 16px;
        padding: 8px 8px 8px 8px;
        .icon-container {
          width: 48px;
          height: 48px;
          .icon {
            width: 48px;
            height: 48px;
            border-radius: 7px;
            transition: all 0.2s;
          }
          .icon:hover {
            transform: scale(1.25);
          }
        }
      }
    }
  }
}

// Responsive Mobile

@media only screen and (max-width: 900px) {
  .dock {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding: 17px;
    gap: 15px;
    position: absolute;
    bottom: 12px;
    left: 2.5vw;
    width: 95%;
    height: 94px;
    //bottom: 12px;
    background: rgba(245, 245, 245, 0.6);
    backdrop-filter: blur(67.957px);
    border-radius: 35px;
    .dock-c {
      display: flex;
      gap: 7vw;
      background: none;
      backdrop-filter: none;
      .icon-container {
        width: 60px;
        height: 60px;
        .icon {
          width: 60px;
          height: 60px;
          border-radius: 7px;
          transition: all 0.2s;
        }
        .icon:hover {
          transform: scale(1.25);
        }
      }
      .icon-container:last-child {
        display: none;
      }
    }
  }
}
