@font-face {
  font-family: 'SF Pro Text';
  font-weight: 400;
  src: url('../../assets/font/SF-Pro-Text-Regular.otf');
}

@font-face {
  font-family: 'SF Pro Text Bold';
  font-weight: 400;
  src: url('../../assets/font/SF-Pro-Text-Bold.otf');
}

@font-face {
  font-family: 'SF Pro Display Medium';
  font-weight: 500;
  src: url('../../assets/font/SF-Pro-Display-Medium.otf');
}

.active {
  display: block;
}

.apple-window-container {
  position: absolute;
  top: 45px;
  left: 30px;
  width: 80%;
  height: 80vh;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.5),
    inset -0.5px -0.5px 1px #78797a, inset 0.5px 0.5px 1px #78797a;
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.15))
    drop-shadow(0px 25px 30px rgba(0, 0, 0, 0.35));
  border-radius: 10px;
  .sidebar {
    /* Sidebar */
    width: 20%;
    height: 100%;
    position: absolute;
    background: rgba(40, 40, 40, 0.75);
    backdrop-filter: blur(40px);
    border-radius: 10px 0 0 10px;
    /* Note: backdrop-filter has minimal browser support */
    .traffic-lights {
      width: 100%;
      height: 30px;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 20px;
      border-radius: 10px 0 0 0;
      div {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin-right: 8px;
      }
      .red {
        background: #ed6a5f;
        cursor: pointer;
      }
      .orange {
        background: #f5bf4f;
        cursor: pointer;
      }
      .green {
        background: #61c554;
        cursor: pointer;
      }
    }
  }
}

.work {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: middle;
}

.sidebar-title {
  font-family: 'SF Pro Text Bold';
  color: #ebebf5;
  font-size: 11px;
  padding-left: 12px;
  padding-top: 20px;
}

.sidebar-project {
  padding-left: 7px;
  padding-top: 12px;
  .project-name {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 17px;
    .menubar {
      height: 16px;
    }
    .project-title {
      font-family: 'SF Pro Display Medium';
      font-size: 14px;
      padding-left: 8px;
      cursor: pointer;
    }
  }
}

.window-frame {
  width: 80%;
  height: 100%;
  position: absolute;
  left: 20%;
  padding-top: 14px;
  padding-left: 22px;
  padding-right: 22px;
  background: #1e1e1e;
  border-radius: 0 10px 10px 0;
  p {
    font-size: 13px;
  }
}

.icon-skill {
  width: 36px;
  height: 36px;
  img {
    object-fit: contain;
    width: 100%;
  }
}

.web,
.soft,
.vers {
  margin-top: 23px;
}

.cat-title {
  font-family: 'SF Pro Text Bold';
}

.skill-cat {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
  .skill {
    width: 50%;
  }
  .skill-content {
    display: flex;
    .icon-content {
      width: 42px;
      height: 42px;
      border-radius: 7px;
      img {
        width: 42px;
        height: 42px;
        object-fit: cover;
        border-radius: 7px;
      }
    }
    .skill-name {
      width: 246px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      margin-left: 13px;
    }
  }
  .w {
    margin-bottom: 9px;
  }
}

// Notes About

.note {
  font-size: 11px;
}

.notes {
  padding: 0;
}

.notes-container {
  width: 100%;
  display: flex;
  .col-left {
    width: 225px;
  }
  .col-right {
    width: 100%;
    height: 100%;
  }
}

.tab {
  width: 100%;
  height: 49px;
  padding-left: 16px;
  padding-right: 16px;
}

.icons {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .left {
    display: flex;
  }
  .right {
    display: flex;
  }
  .list {
    padding-right: 16px;
  }
  .icon-notes {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 20px;
      height: 20px;
      object-fit: contain;
    }
  }
}

.notes-container {
  display: flex;
  padding-left: 8px;
  padding-right: 8px;
  .notes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 10px 10px 20px;
    gap: 2px;
    width: 208px;
    height: 49px;
    border-radius: 7px;
    .text-title {
      font-family: 'SF Pro Text Bold';
      font-size: 11px;
    }
    .resume {
      font-size: 11px;
      color: rgba(255, 255, 255, 0.55);
      .hours {
        color: white;
      }
    }
  }
  .active {
    background: #464646;
  }
}

.text-area {
  width: 100%;
  height: auto;
  font-family: 'SF Pro Text';
  font-size: 11px;
  padding-left: 20px;
  padding-right: 20px;
  [contenteditable] {
    outline: 0px solid transparent;
  }
  .date-note {
    font-family: 'SF Pro Text';
    font-size: 10px;
    text-align: center;
    letter-spacing: 0.12px;
    color: rgba(255, 255, 255, 0.55);
  }
  .text {
    width: 100%;
    height: auto;
    font-family: 'SF Pro Text';
    font-size: 11px;
    padding-top: 12px;
  }
  .underline {
    text-decoration: underline;
    margin-bottom: 10px;
  }
}

// Work Section

.col-right {
  width: 100%;
  height: 100%;
  .header {
    display: flex;
    height: 160px;
    border: 1px solid #000;
    border-radius: 25px;
    .c-left {
      width: 136px;
      height: 160px;
      position: absolute;
      background: rgba(244, 245, 245, 1);
      p {
        color: black;
      }
    }
    .c-right {
      width: 100%;
      background: #5856d6;
      overflow: hidden;
      .bg-banner {
        width: 100%;
        height: 100%;
        width: 100%;
        height: 173px;
        object-fit: cover;
      }
    }
  }
  .work-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 11px;
    width: 100%;
    height: 136px;
    .work-card {
      width: 100%;
      background: #f4f5f5;
    }
  }
}
