@font-face {
  font-family: 'SF Pro Display Medium';
  font-weight: 400;
  src: url('../../assets/font/SF-Pro-Display-Regular.otf');
}

@font-face {
  font-family: 'SF Pro Display Bold';
  font-weight: 700;
  src: url('../../assets/font/SF-Pro-Display-Bold.otf');
}

@font-face {
  font-family: 'SF Pro Text';
  font-weight: 400;
  src: url('../../assets/font/SF-Pro-Text-Regular.otf');
}

.home-text {
  line-height: 80px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.medium-text {
  font-family: 'SF Pro Display Medium';
  font-size: 5rem;
}
.bold-text {
  font-family: 'SF Pro Display Bold';
  font-size: 7rem;
}
